<p id="notice"><%= notice %></p>

<h1>Listing Presents</h1>

<%= link_to 'New Present', new_present_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @presents.each do |present| %>
      <tr>
        <td><%= link_to present.title, present %></td>
        <td><%= link_to present.price, present %></td>
        <td><%= link_to 'Edit', edit_present_path(present), class: 'edit-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
