<p id="notice"><%= notice %></p>

<h1>Presents for <%= current_user.name %></h1>

<%= link_to 'New Present', new_present_path %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="col-md-2">Title</th>
      <th class="col-md-2">Price</th>
      <th class="col-md-2"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @presents.each do |present| %>
      <tr>
        <td><%= link_to present.title, present %></td>
        <td><%= link_to present.price, present %></td>
        <td><%= link_to 'Edit', edit_present_path(present), class: 'edit-link' %></td>
        <td><%= link_to 'Delete', '#', class: 'delete-link', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
