<h1>Presents for <%= current_user.name %></h1>

<%- unless notice.blank? %>
<div class="alert alert-warning col-sm-8">
  <p id="notice"><%= notice %></p>
</div>
<%- end %>

<%= link_to 'New Present', new_present_path, class: 'btn btn-primary btn-lg new-present' %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="col-md-2">Title</th>
      <th class="col-md-2">Price</th>
      <th class="col-md-2"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @presents.each do |present| %>
      <tr>
        <td><%= link_to present.title, present %></td>
        <td><%= link_to (present.price.present? ? number_to_currency(present.price) : '~'), present %></td>
        <td><%= link_to 'Edit', edit_present_path(present), class: 'btn btn-primary btn-xs edit-link' %></td>
        <td><%= form_tag(present, method: 'delete') do
                  submit_tag 'Delete', class: 'btn btn-danger btn-xs delete-link',
                              data: { confirm: 'Are you sure?' }
                end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
